@use "/pages/modules_of_scss/header.scss";

.one{
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .first_side{
            h1{
                font-size: 40px;
                font-weight: 800;
                line-height: 48px;
            }
            .assesment{
                font-size: 24px;
                font-weight: 400;
                line-height: 33.6px;
            }
        }
        .second_side{
            display: flex;
            align-items: center;
            // .slide{
            //     width: 100px;
            //     height: 700px;
            //     border-radius: 50px 0px 0px 200px;        
            // }
            // #one{
            //     border-radius: 50px 0px 50px 200px;
            //     margin-right: -50px;
            //     background-color: red;
            // }
            // #two{
            //     border-radius: 50px 0px 0px 20px;  
            //     background-color: blue;
            // }
        }
    }
}



